<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>通知中心</title>
    <link rel="stylesheet" href="/public/pages/notify/notify.css">
    <link rel="stylesheet" href="/public/css/h-ui.css">
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/utils.js"></script>
    <script src="/public/js/config.js"></script>
    <script src="/public/js/layer/layer.js"></script>
    <script src="/public/pages/notify/notify.js"></script>
</head>
<body style="min-width: 1150px">
    <header id="header" style="display: block; margin: 0; padding: 0;">
        <div id="main-header">
            <div class="col">
                <div class="header-top">
                    <ul>
                        <h1 style="float: right; padding-right: 120px">毕业生实习信息管理系统</h1>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main-nav">
            <div class="navbar-default" id="main-navbar">
                <ul class="navbar-nav">
                    <li><a href="/login"><span class="icon-home"></span> 登录页面</a></li>
                    <li><a href="/changepassword"><span class="icon-home"></span> 找回密码</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="page-container">
        <div class="mt-20">
            <table class="table table-border table-bordered table-bg">
                <thead>
                    <tr class="text-c">
                        <th class="welcome_style">序号</th>
                        <th class="welcome_style" style="display: none;">ID</th>
                        <th class="welcome_style">标题</th>
                        <th class="welcome_style">发布时间</th>
                        <th class="welcome_style">发布者</th>
                        <th class="welcome_style">阅读量</th>
                    </tr>
                </thead>
                <tbody class="tbbody">

                </tbody>
            </table>
        </div>
    </div>
</body>
</html>