<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>报告册</title>
    <link rel="stylesheet" href="../../../public/css/reset.css">
    <link rel="stylesheet" href="../../../public/css/studentlist.css">
    <link rel="stylesheet" href="../../../public/css/nav.css">
    <script src="../../../public/js/jquery.js"></script>
    <script src="/public/js/layer/layer.js"></script>
    <!-- <script src="../../../public/js/nav.js"></script> -->
    <script src="public/pages/teacher/js/public.js"></script>
    <script src="/public/js/config.js"></script>
    <script src="/public/js/utils.js"></script>
    <script src="/public/pages/teacher/report-stuList/report-table.js"></script>

</head>

<body>
    <div class="nav">
        <div class="item stu-nav">
            <div class="nav-main">学生信息</div>
        </div>
        <div class="item  active">
            <div class="nav-main rep-nav">报告册评价</div>
        </div>
        <div class="item decision-nav">
            <div class="nav-main">鉴定表评价</div>
        </div>
        <div class="item logout">
            <div class="content"><span class="iconfont icon-zhuxiao"></span>注销</div>
        </div>
    </div>

    <div class="stuList-wrap">
        <div class="list-title">
            报告册评价<input type="text" class="search-input" placeholder="搜索学生">
             <!-- 单选框 -->
             <div class="filter-box">
                <label><input type="radio" name="filter" class="filter-radio" checked>全部</label>
                <label><input type="radio" name="filter" class="filter-radio">已填完</label>
                <label><input type="radio" name="filter" class="filter-radio">未填写</label>
            </div>
        </div>
        <table class="stuList-table">
            <thead class="stuList-thead">
                <tr>
                    <th class="stuList-th">
                        学号
                    </th>
                    <th class="stuList-th">
                        姓名
                    </th>
                    <th class="stuList-th">
                        学院
                    </th>
                    <th class="stuList-th">
                        专业
                    </th>
                    <th class="stuList-th">
                        联系方式
                    </th>
                    <th class="stuList-th">
                        学生填写
                    </th>
                    <th class="stuList-th">
                        教师填写
                    </th>
                    <th class="stuList-th">
                        报告册评价
                    </th>
                </tr>
            </thead>

            <tbody>
                

                
                
            </tbody>
        </table>
    </div>
</body>
<script>
    $(function () {
        $('body').delegate(".check-report","click",(e)=>{
            let that = e.currentTarget
            let stuNo = that.dataset.id
            $.ajax({
                type:"GET",
                url:`${config.ip}:${config.port}/teacher/student/report/${stuNo}`,
                dataType:"json",
                beforeSend: function(request) {
                    request.setRequestHeader("Authorization", sessionStorage.getItem("userinfo"));
                },
                success(data){
                    if(data.status===1){
                        saveLocalStorage("std-report-entity",data.data)
                        window.location.href = "/teacher-report"
                    }else{
                        alert("请求失败")
                    }
                   
                }
            })
        })
    })
</script>

</html>