<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>通知</title>
    <link rel="stylesheet" href="/public/pages/notify/notifydetail.css">
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/utils.js"></script>
    <script src="/public/js/config.js"></script>
    <script src="/public/js/layer/layer.js"></script>
    <script src="/public/pages/notify/notifydetail.js"></script>
</head>
<body>
    <header id="header" style="display: block; margin: 0; padding: 0;">
        <div id="main-header">
            <div class="col">
                <div class="header-top">
                    <ul>
                        <h1 style="float: right; padding-right: 120px">毕业生实习信息管理系统</h1>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main-nav">
            <div class="navbar-default" id="main-navbar">
                <ul class="navbar-nav">
                    <li><a href="/login"> 登录页面</a></li>
                    <li><a href="/changepassword"> 找回密码</a></li>
                    <li><a href="/notify">通知列表</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="page-title-2"></div>
    <p class="page-title-3"></p>
    <p class="page-title-3"></p>
    <div class="page-title-3">
        <a href="#the_function_is_developing">赞</a><span class="praisenum">0</span>
        <a href="#unpraise_is_forbidden">踩</a><span class="praisenum">0</span>
    </div>
    <table cellspacing="0" cellpadding="0" width="95%" align="center" border="0" class="notify-content">
        <tbody>
            <tr>
                <td class="main-content" style="width: 100%;text-align: left">

                </td>
            </tr>
            <tr style="text-align: right">
                <td class="publisher">
                    教务处 2020年1月8日
                </td>
            </tr>
        </tbody>
    </table>
    <div class="page">
        <div class="prev">上一条</div>
        <div class="next">下一条</div>
    </div>
</body>
</html>